# Nginx 模板变量
BLOG_DOMAIN=example.com
BLOG_SSL_CERTIFICATE=/etc/letsencrypt/live/example.com/fullchain.pem
BLOG_SSL_CERTIFICATE_KEY=/etc/letsencrypt/live/example.com/privkey.pem
LETSENCRYPT_EMAIL=admin@example.com
