[Unit]
Description=Run blog deleted file cleanup daily

[Timer]
OnCalendar=*-*-* 03:20:00
Persistent=true
RandomizedDelaySec=20m
Unit=blog-cleanup-deleted-files.service

[Install]
WantedBy=timers.target
